@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color:  rgb(253 224 71);
}

.hiddenpokemon{
	-webkit-filter: grayscale(100%) brightness(0); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%) brightness(0);
}